* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.app-header {
  background-color: #000;
  color: white;
  text-transform: lowercase;
  letter-spacing: .5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 0 60px;
}

.app-header > img {
  height: 86px;
  width: 86px;
}

main {
  color: #1a1b1f;
  flex: 1;
  display: grid;
  grid-template-columns: 10% 10% 20% 20% 20% 10% 10%;
  row-gap: 40px;
}

main section {
  height: auto;
}

.intro {
  grid-row-start: 1;
  width: 100%;
  display: flex;
  align-items: initial;
  margin-top: 80px;
  column-gap: 60px;
  grid-auto-columns: 2fr;
  flex-wrap: wrap;
}

@media (max-width: 414px) {
  .intro, .work {
    grid-column-start: 1;
    grid-column-end: -1;
    /* margin: 20px 24px; */
  }
}

@media (max-width: 720px) {
  .intro, .work {
    grid-column-start: 2;
    grid-column-end: -2;
  }
}

@media (min-width: 721px) {
  .intro, .work {
    grid-column-start: 3;
    grid-column-end: -3;
  }
}

@media (min-width: 1021px) {
  .intro {
    flex-wrap: nowrap;
  }

  .intro-text {
    width: 50%;
  }

  .intro > img {
    width: 45%;
    height: max-content;
  }
}

.intro-text > h2 {
  font-size: 42px;
  line-height: 56px;
  font-weight: 600;
  /* margin: 10px 0 20px 0; */
}

.intro-text-paragraph {
  font-size: 16px;
  line-height: 28px;
  opacity: .6;
  font-weight: 400;
  margin-bottom: 20px;
}
.intro-text > p > span{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  opacity: .6;
}

.work > h2 {
  font-size: 42px;
  font-weight: 600;
  margin: 20px 0;
}

.work > p {
  font-size: 16px;
  padding: 10px 30px 10px 0;
  margin-bottom: 40px;
  color: #5e5f62;
}

.work > p span {
  font-weight: 600;
}

.project {
  margin: 40px 0;
}

.project > h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0;
}

.project > p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.app-footer {
  display: flex;
  justify-content: flex-end;
  padding: 40px 50px;
  border-top: .5px solid #c3c3c3;
  background-color:#fff;
}

.app-footer > ul {
  display: flex;
  flex-direction: row;
}

.app-footer > ul li {
  list-style-type: none;
}

.app-footer > ul li a {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 20px;
  color: #1a1b1f;
  opacity: .6;
  text-decoration: none;
  text-transform: uppercase;
}