body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #000;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* font-size: calc(10px + 2vmin); */
}


.app-footer {
  width: 100%;
  border-top: .5px solid #c3c3c3;
}